{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <h1>User Profile</h1>
    <p><strong>Id:</strong> {{ user.getId() }}</p>
    <p><strong>Email:</strong> {{ user.getEmail() }}</p>
    <button id="logoutButton">
        Logout
    </button>
    <!-- Add other user information as needed -->

    <script type="module">
        await Corbado.load({
            projectId: "{{ projectId }}"
        });

        document.getElementById("logoutButton").addEventListener("click", async () => {
            await Corbado.logout()
            window.location.href = "/"
        })
    </script>
{% endblock %}