<!DOCTYPE html>
<html>
<style>
body{
  display: flex;
  height: 100%;
  width: 100%;
  font-family: Poppins;
}
</style>

<body>
Successfully logged in! <br>

Username: {{username}} <br>
UserFullName: {{userFullName}} <br>

<button type="button" onclick="document.location.href='/login'">Logout</button>
</body>
</html>