<!DOCTYPE html>
<html>
<body>
Successfully logged in! <br>

Username: {{username}} <br>
UserFullName: {{userFullName}} <br>

<button type="button" onclick="document.location.href='/login'">Logout</button>
</body>
</html>